body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 30px;
}

#flex {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#parteDeCima {
    width: 50px;
    height: 50px;
}

#chat {
    font-size: 30px;
    font-family: 'bold Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.azul {
    background-color: #d6f2fe;
    padding: 10px;
    margin: 0px;
    border-radius: 30px;
}

#mensagem {
    font-size: 15px;
    color: #3c6882;
    font-family: 'Bold Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#outrasMensagens {
    font-size: 15px;
    color: #73787e;
}

#flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem {
    width: 70px;
    height: 70px;
}

#separacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nome {
    font-size: 16px;
    font-weight: bold;
}

#conteudo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: #818287;
}

#entregue {
    width: 10px;
    height: 10px;
}

#funcionalidade {
    margin-left: auto;
}

#funcionalidade1 {
    width: 34px;
    height: 34px;
}

#camera {
    width: 34px;
    height: 34px;
}

#icone {
    width: 26px;
    height: 26px;
}

a:link {
    color: white;
    text-decoration: none;
}

#voltar {
    width: 40px;
    height: 40px;
}

#fundo {
    width: 350px;
    height: 100px;
}